@media only screen and (max-width: 1600px){
    .container{
        &__dust{
            max-width: 70%;
        }
    }
    .content{
        &__text{
            margin-top: 100px;
            margin-left: 4.46vw;
        }
        &__title{
            width: 411px;
        }
        &__spin{
            left: 34%;
        }
    }
}
@media only screen and (max-width: 1300px){
    .header{
        flex-wrap: wrap;
        &__info{        
            font-size: calc(14px + (42 - 14)*(100vw - 320px)/(1300 - 320));
            align-self: center;
            padding: 20px;
            margin: 0px auto;
            order: 3;
        }
    }
    .content{
        &__title{
            width: 31vw;
            line-height: 5vw;
        }
        &__text{
            margin-top: 10px;            
        }
        &__spin{
            top: 29%;
            left: 33%;
        }
    }
    .footer{
        position: relative;
        flex-direction: column;
        align-items: center;
        background: $black;
        &__payment{
            margin-left: 0px;
            padding-top: 20px;
        }
        &__app{
            padding-top: 20px;
        }
        &__trust{
            padding-top: 20px;
        }
        &__social{
            margin-right: 0px;
            padding-top: 20px;
            padding-bottom: 20px;
        }
    }
    
}
@media only screen and (max-width: 900px){
    .header{
        &__info{
            min-width: 0;
        }
    }
    .content{
        &__spin{
            top: 28%;
            left: 32%;
        }
    }
}
@media only screen and (max-width: 740px){
    .container{
        background-position: 66%;
    }
    .header{
        &__logo{
            margin-left: 20px;
        }
        &__sign{
            margin-right: 20px;
        }
    }
    .content{
        &__text{
            position: absolute;
            margin-top: 0;
        }
        &__title{
            width: 48vw;
            margin-bottom: 0;            
            line-height: 7vw;
        }
        &__link{
            display: none;
            &--mobile{
                display: block;
                z-index: 5;
            }
        }                
        &__wheel{
            width: 600px;            
            left: 10vw;
        }
        &__cowboy{
            right: 10vw;
        }
        &__spin{
            top: 32%;
            left: 36%;
        }
    }
    .popup{
        &__content{
            padding: 4.08vw 8.2vw;
        }
        &__title{
            line-height: 5.75vw;
        }
        &__quantity{
            line-height: 10.25vw; 
        }
    }
}
@media only screen and (max-width: 510px){    
    .header{
        padding-top: 15px;
        &__logo{
            min-width: 81px;
            min-height: 25px;
        }
        &__sign{
            font-size: 14px;
            line-height: 22px; 
            width: 112px;
            height: 22px;
            }
        &__sign-word{
            line-height: 22px;
        }
    }
    .content{
        &__text{
            margin-left: 20px;
        }
        &__title{            
            width: 57vw;
            line-height: 9vw;
        }
        &__tires{
            line-height: 36px;
        }
        &__spin{
            top: 31%;
        }
    }
    .popup{
        &__close{
            width: 2vw;
            height: 2vw;   
            right: 15px;     
        }
        &__quantity{
            line-height: 14.25vw; 
        }
        &__btn{
            line-height: 6.49vw;
            width: 28.8vw;
            height: 6.49vw;
        }
    }
}
@media only screen and (max-width: 386px){
    .container{
        background-position: -593px -24px;
    }
    .header{
        &__info{
            padding: 10px;
        }
    }
    .content{
        min-height: 460px;
        &__title{            
            width: 66vw;
        }
        &__wheel{
            position: absolute;
            bottom: 0;
            left: 0;
            width: 250px;
            z-index: 1;
        }
        &__cowboy{
            position: absolute;
            bottom: 0;
            right: -35px;
            width: 249px;
        }
        &__spin{
            top: 33%;
            left: 39%;
        }
    }
}
